{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1 class="text-center titulo">Biblioteca Secreta</h1>
    <br>
    <img src="{% static 'images/skull.jpg' %}" class="rounded-circle skull img-thumbnail" style="width:250px;height:250px;">
    <br>
    <p class="text-center">"Seja muito bem vindo à <em>Grande Biblioteca Secreta</em>!"</p>
    <h3>Conteúdo Dinâmico</h3>
    <p>Nossa biblioteca conta atualmente com os seguintes contadores de registros:</p>
    <ul class="list-group  list-group-horizontal skull">
      <li class="list-group-item"><strong>Livros: </strong> {{ num_books }}</li>
      <li class="list-group-item"><strong>Cópias: </strong> {{ num_instances }}</li>
      <li class="list-group-item"><strong>Cópias disponíveis: </strong> {{ num_instances_available }}</li>
      <li class="list-group-item"><strong>Autores: </strong> {{ num_authors }}</li>
    </ul>
    <br>
    <p>Você visitou a biblioteca secreta <strong>{{ num_visits }}</strong>{% if num_visits == 1 %} vez{% else %} vezes{% endif %}.</p>
<div> 
{% endblock %}