{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h4>Livros Emprestados</h4>
    <br>
    {% if bookinstance_list %}
    <ul class="list-group">
      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %} list-group-item">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
        {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}        
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %} 
</div>      
{% endblock %}